.scale-small {
    -fx-font-size: 10px;
}

.scale-medium {
    -fx-font-size: 12px;
}

.scale-large {
    -fx-font-size: 14px;
}

.scale-x-large {
    -fx-font-size: 16px;
}

.title_label {
    -fx-font-weight: bold;
}