#root {
    -fx-font-size: 9px;
}

#lblOwnerCompany {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.information-form {
    -fx-border-color: black;
    -fx-border-width: 0.5px;
}

.titled-lbl {
    -fx-font-weight: bold;
}

.light-mode-lbl {
    -fx-text-fill: black;
}

.light-mode-txt {
    -fx-fill: black;
}