.add_pane {
    -fx-font-size: 10pt;
}

.title_label {
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}

.information_form {
    -fx-border-color: black;
    -fx-border-width: 0.5pt
}

.report_form, .information_form {
    -fx-font-size: 8pt;
}

.number_field_invalid {
    -fx-border-color: red;
    -fx-background-color: #FFF0F0;
    -fx-border-radius: 3px;
}